input.o_input {
    padding-left: 1rem !important;
}

.simple_choices table {
    td {
        padding-left: 0 I !important;
    }
}

#value_answer_id {
    width: 60rem;
}


footer {
    button.o_form_button_save_new {
        display: none !important;
    }
}

#value_text_box {
    border-radius: 1rem !important;
}