.o_event_form_view {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.o_event_form_view {
    .o_input {
        
    }

    div.o_attachments {
        display: flex;
        flex-wrap: wrap;

        div.o_attachment_many2many {
            width: 25%;
        }
    }

    div.oe_add {
        button.o_attach {
            margin: 0px !important;
        }
    }

    .o_field_many2many_selection {
        .o_input_dropdown #tag_ids {
            margin: 0 !important;
            border: none !important;
            // height: 1.8rem !important;
        }

        .o_input_dropdown input:focus {
            border: none !important;
            outline: none;
        }
    }

    .o_field_many2many_tags, .o_readonly_modifier {
        div.o_field_tags {
            padding-left: .5rem;
            align-items: center;
            max-height: 70px;
            overflow: scroll;

            span.badge {
                // height: 1.8rem;
            }

            &:focus-within {
                border: 2px solid #4a9bff !important;
            }

            .o_tag_badge_text {
                color: black;
            }
        }

        div.o_field_tags::-webkit-scrollbar {
            display: none;
        }
    }
    

    .mini-field {

        #seats_max, #max_social_point, #max_tranning_point {
            width: 5rem !important;
            border: none !important;
            border-bottom: 2px solid #dbdbdb !important;
            border-radius: 0 !important;
            margin: 0 !important;
            height: 18px !important;
            padding-left: 0;
        }

        #seats_max:focus, #max_social_point:focus, #max_tranning_point:focus {
            outline: none;
            border-radius: 0 !important;
            border-bottom: 2px solid #4a9bff !important;
        }
    }

    label[for="auto_confirm"] {
        width: 14rem !important;
    }

    #description {
        height: 150px;
        border: 1px #dfdfdf solid;
        padding-top: .5rem;
        border-radius: .5rem;
        margin-bottom: 2rem;
    }

    #description:focus {
        border: 2px solid #4a9bff !important;
    }

    div.event-name-group {
        display: flex !important;
        position: relative;
        height: 45px;

        .o_field_widget {
            width: 55rem;
        }

        & + .event-name-group {
            margin-top: 30px;
        }

        label {
            position: absolute;
            left: 0;
            top: 0px;
            color: #999 !important;
            // background-color: #fff;
            background-color: none;
            z-index: 10;
            transition: transform 150ms ease-out, font-size 150ms ease-out, font-color 150ms ease-out;
            font-size: 2rem;
        }

        &:focus-within label {
            transform: translateY(-90%) !important;
            font-size: medium !important;
            margin-bottom: 5px;
            color: #023e8a !important; 
        }

        div.has_name + label{
            transform: translateY(-90%) !important;
            font-size: medium !important;
            margin-bottom: 5px;
            color: #023e8a !important;
        }

        .o_input {
            border: none !important;
            border-radius: 0 !important;
            box-shadow: 0 1px 0 0 rgb(180, 180, 180) !important;
            position: relative;
            padding: 8px 0px 8px 0;
            width: 100%;
            outline: 0;
            box-shadow: 0 1px 0 0 #e5e5e5;
            transition: box-shadow 150ms ease-out;
            font-size: 2rem;
            
            &:focus {
              box-shadow: 0 2px 0 0 #023e8a !important;
            }
          
        }

        .o_input.filled {
            box-shadow: 0 2px 0 0 rgb(0, 167, 0);
        }
          
        
    }

    // Attendees btn
    div.o-form-buttonbox {
        display: flex;
        justify-content: flex-end;

        button {
            display: flex;
            align-items: center;
            height: 55px !important;
        }
    }

    // notebook margin
    .table-responsive {
        margin: 0 22px 10px 22px;

        td {
            div input {
                margin: 0 !important;
                padding: 0 8px !important;
            }
        }
    }

}

div.daterangepicker {
    th.month {
        color: white !important;
    }
}

label[for="name"]::after,
label[for="date_begin_registration"]::after,
label[for="date_begin"]::after,
label[for="max_social_point"]::after,
label[for="max_tranning_point"]::after,
label[for="description"]::after
{
    content:" *";
    color: red;
}

button.o_colorlist_item_color_1 {
    background-color: red;
}

button.o_colorlist_item_color_2 {
    background-color: orange;
}

button.o_colorlist_item_color_3 {
    background-color: yellow;
}

button.o_colorlist_item_color_4 {
    background-color: lightblue;
}

button.o_colorlist_item_color_5 {
    background-color: darkmagenta;
}

button.o_colorlist_item_color_6 {
    background-color: salmon;
}

button.o_colorlist_item_color_7 {
    background-color: mediumblue;
}

button.o_colorlist_item_color_8 {
    background-color: darkblue;
    
}

button.o_colorlist_item_color_9 {
    background-color: fuchsia;
}

button.o_colorlist_item_color_10 {
    background-color: green;
}

button.o_colorlist_item_color_11 {
    background-color: purple;
}

button.o_colorlist_item_color_0 {
    background-color: #e5e5e5;
}
