header {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.event_detail_wizard {
    font-family: 'Be Vietnam Pro', sans-serif !important;

    .event-name-field {
        font-family: 'Be Vietnam Pro', sans-serif !important;
    }
    span.badge {
        padding: .2rem .8rem;
    }

    .o_field_tags {
        gap: .5rem;
    }

    .readonly_group {
        div.o_cell {
            height: 30px !important;
        }
    }

    div.o_form_sheet_bg {
        div.o_form_sheet {
            padding-top: 0px !important;
        }
    }

    // group string
    div.o_horizontol_separator {
        margin: 0 !important;
        margin-bottom: .5rem !important;
    }

}

.diem_danh_tree {
    button[name="attendace"] {
        margin-left: 24% !important;
        font-weight: 500 !important;
        background: #7BA94F;
        border: solid 2px #7BA94F !important;
        color: white !important;
        transition: all 150ms ease-in-out;
    }

    button[name="attendace"]:hover {
        background-color: white;
        color: #7BA94F !important;
    }
}

// Tam thoi xoa cai dau X cua may cai wizzard
.btn-close {
    visibility: hidden;
}