.user_activity_tree, div.event-kanban {
    button[name="confirm_event"] {
        font-weight: 500 !important;
        background: #7BA94F;
        border: solid 2px #7BA94F !important;
        color: white !important;
        transition: all 150ms ease-in-out;
    }

    button[name="confirm_event"]:hover {
        background-color: white;
        color: #7BA94F !important;
    }

    button[name="need_update_event"] {
        font-weight: 500 !important;
        color: white;
        background-color: #f1b44c !important;
        border: solid 2px #f1b44c !important;
        transition: all 150ms ease-in-out;
    }

    button[name="need_update_event"]:hover {
        background-color: white !important;
        color: #f1b44c !important;
        border: solid 2px #f1b44c !important;
    }

    button[name="refuse_event"] {
        font-weight: 500 !important;
        background-color: #cf4137;
        border: solid 2px #cf4137 !important;
        color: white !important;
        transition: all 150ms ease-in-out;
    }

    button[name="refuse_event"]:hover {
        background-color: white;
        color: #cf4137 !important;
        border: solid 2px #cf4137 !important;
    }

    .fa-arrow-right {
        padding: 0 8px;
    }
}

.user_activity_tree {
    button[name="confirm_event"], button[name="need_update_event"], button[name="refuse_event"] {
        padding: .2rem 1rem !important;
        border-radius: .5rem !important;
    }
}

button.o_btn_cancel_registration {
    border: none;
    border-radius: .5rem !important;
    padding: .1rem .6rem;
}