.o_field_widget.o_field_badge{
    background-color: #ffffff !important;
    width: 100% !important;
}
.o_kanban_renderer {
    --KanbanRecord-width: 420px  !important;
}

.o_kanban_record{
    padding-bottom: 15px  !important;
}