.o_field_widget.o_field_badge{
    background-color: #ffffff !important;
    width: 100% !important;
}
.o_kanban_renderer {
    --KanbanRecord-width: 415px  !important;
}

.o_kanban_record{
    padding-bottom: 15px  !important;
}
.badge.bg-light{
    outline: #ffffff !important;
}

th.o_list_button {
    content: "Duyet nhanh" !important;
    align-items: center !important;
  }